doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles.css') 
  body
    h1= message
    p Bienvenido al sistema de gestión de consultas médicas.
    a(href='/turnos') Ver Turnos
    br
    a(href='/turnos/nuevo') Agendar nuevo turno
